In [106]:
import pandas as pd

In [107]:
import numpy as np

Импортируем данные:

In [108]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

Задание 1. Число столбцов в наборе данных:

In [109]:
df.shape

(48842, 15)

Задание 2. Пропуски в наборе данных:

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Пропусков нет, но выделяются "?". Посчитаем их количество:

In [111]:
df.isin(['?']).sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

Пропуски есть в столбцах "workclass", "occupation", "native-country".

Задание 3. Уникальные значения в столбце "race":

In [112]:
df['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [113]:
len(df['race'].unique())

5

Задание 4. Медиана:

In [114]:
df['hours-per-week']. median ()

np.float64(40.0)

Задание 5. Какой гендер доминирует в зарплате ">50K":

In [115]:
high_salary_df = df[df['income'] == '>50K']

In [116]:
count = high_salary_df['gender'].value_counts()

print(count)

gender
Male      9918
Female    1769
Name: count, dtype: int64

Задание 6. Заполним пустые значения (в нашем случае - "?") наиболее часто встречающимся значением (мода):

Для начала заменим "?" на пустые значения:

In [117]:
df['workclass'] = df['workclass'].replace('?', np.nan)
df['occupation'] = df['occupation'].replace('?', np.nan)
df['native-country'] = df['native-country'].replace('?', np.nan)

In [118]:
print(df.isnull().any())

age                False
workclass           True
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation          True
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country      True
income             False
dtype: bool

Вывод моды каждого столбца:

In [119]:
df.mode().iloc[0]

age                                36
workclass                     Private
fnlwgt                         203488
education                     HS-grad
educational-num                     9
marital-status     Married-civ-spouse
occupation             Prof-specialty
relationship                  Husband
race                            White
gender                           Male
capital-gain                        0
capital-loss                        0
hours-per-week                     40
native-country          United-States
income                          <=50K
Name: 0, dtype: object

Заменяем пустые значения на моду в каждом столбце:

In [120]:
df.fillna(df.mode().iloc[0], inplace=True)

Проверим, сработало ли:

In [121]:
print(df.isnull().any())

age                False
workclass          False
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation         False
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country     False
income             False
dtype: bool

Задания:
1) Число столбцов в наборе данных
2) Есть ли пропуски в данных? Если есть, то в каких столбцах
3) Кол-во уникальных значений в столбце race
4) Медиана hours-per-week
5) Кого больше - женщин или мужчин с ЗП >50K?
6) Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

Ответ:
1) 15
2) Есть. "workclass", "occupation", "native-country"
3) 5
4) 40.0
5) Мужчин.
6) Пропущенные данные можно было заполнить, к примеру, средним значением, медианой, минимальным значением, предыдущим или следующим значением и др.